<p><strong>Login through one of these services:</strong></p>

<div class="auth_providers">
  <a href="/auth/twitter" class="auth_provider">
    <%= image_tag "auth_buttons/twitter_64.png", size: "64x64", alt: "Twitter" %>
    Twitter
  </a>
  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "auth_buttons/facebook_64.png", size: "64x64", alt: "Facebook" %>
    Facebook
  </a>
  <a href="/auth/github" class="auth_provider">
    <%= image_tag "auth_buttons/github_64.png", size: "64x64", alt: "Github" %>
    Github
  </a>
  <p>Feel safe, we <strong>don't</strong> post to your timeline other than authenticate.</p>
</div>
