<%= form_for(@plugin) do |f| %>
  <% if @plugin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plugin.errors.count, "error") %> prohibited this plugin from being saved:</h2>

      <ul>
      <% @plugin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
