<h2>Users</h2>
<article>
  <dl>
    <dt>registerd users</dt>
    <dd><%= @users.size %></dd>
    <dt>registerd vimrcs</dt>
    <dd><%= @vimrcs.size %></dd>
  </dl>
  <section class="avateres">
    <% @user_for_gravatar.each do |user| %>
      <%= link_to image_tag(user.gravatar_url(size: 50, default: current_url + "/assets/vimpushergirl_default_icon.gif")), "/#{user.username}" %>
    <% end %>
  </section>
</article>
