<h2>Vimpusher is a social vim plugin service.</h2>
<ol>
  <li>If you have a .vimrc file published somewhere (e.g. github),</li>
  <li>And if you are using vundle, pathogen or neobundle to handle your vim plugins,</li>
  <li>Yeah! You can be a Vimpusher!</li>
  <li>Just register your .vimrc file, and we'll crawl it automatically and stat which plugins are hot.</li>
</ol>
<div class="join">
  <%= link_to "Join!", login_path %>
</div>
