<div id="top">

  <h2>Vimpusher is social vim plugin service.</h2>
  <ol>
    <li>If you have .vimrc file somewhere in public (e.g. github),</li>
    <li>And if you are using vundle, pathogen or neobundle to handle with vim plugins,</li>
    <li>Yeah! You can be a Vimpusher!</li>
    <li>Just register your .vimrc file, so we can crawl it automatically, then we stat what plugin is hot.</li>
  </ol>

  <div class="join button blue large">
    <%= link_to "Join!", login_path %>
  </div>
</div>