@import "_vars";
@import "_clearfix";

// Sections
html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.75;
  color: $fg;
  background-color: $bg;
  font-family: $sans-serif;
}

section,
article,
aside {
  @include clearfix;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  page-break-after: avoid;
  color: #333;
}

h1 {
  font-family: $over-the-rainbow;
  font-weight: normal;
  color: $headline;
}

h2 {
  margin: 0 0 ($font-size * 2) 0;
  padding-bottom:10px;
  border-bottom:1px solid #CCC;
  font-weight: normal;
  font-family: $title;
  font-size: 28px;
}

h3, h4, h5, h6 {
  margin: 0 0 ($font-size * 2) 0;
  font-family: $title;
}

// Grouping content
p {
  margin: ($font-size * 2) 0;
}

hr {
  margin: ($font-size * 2) 0;
  border: none;
  position: relative;
  clear: both;
  width: 100%;
  height: ($font-size * 4.5);
  background-color: transparent;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: ($font-size * 4.5);
    line-height: ($font-size * 4.5);
    content: "\223c\2022\223c"; // tilda op + bullet + tilda op
    color: lighten($fg, 92%);
    color: transparentize($fg, 0.92);
    font-size: 450%; // 72px
    text-align: center;
  }
}

pre {
  margin: ($font-size * 1.2) 0;
  padding: ($font-size * 1.2);
  border-radius: ($font-size * 0.25);
  border: 1px solid #CCC;
  clear: both;
  padding: ($font-size * 1.0);
  page-break-inside: avoid;
  color: $fg;
  background-color: $pre;
  background-color: $pre;
  font-family: $monospace;
  font-size: 87.5%;
}

blockquote {
  margin: 0 0 0 ($font-size * 4);
  position: relative;
  clear: both;
  min-height: ($font-size * 4.5);
  page-break-inside: avoid;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: (- $font-size * 4);
    width: ($font-size * 3);
    height: 100%;
    line-height: 1;
    content: "\201c"; // Left dquote
    color: lighten($fg, 80%);
    color: transparentize($fg, 0.8);
    font-family: "Trebuchet MS", $sans-serif;
    font-weight: bold;
    font-size: 450%; // 72px
  }
}

ul,
ol {
  margin: ($font-size * 2) 0;
  clear: both;

  ul,
  ol {
    margin: 0;
  }
}

dl {
  margin: ($font-size * 2) 0;
  clear: both;

  dt {
    font-weight: bold;
  }

  dl {
    margin: 0;
  }
}

figure,
.image {
  line-height: 1;

  img {
    border: 1px solid lighten($fg, 90%);
    border: 1px solid transparentize($fg, 0.9);
    padding: ($font-size * 0.5 - 1px);
    background-color: white;
  }

  a:hover {
    img {
      border-color: $light;
    }
  }
}

figure {
  margin: ($font-size * 2) 0;

  figcaption {
    display: block;
    line-height: normal;
    font-weight: bold;
  }
}

// Text-level semantics
a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $hover;
  }
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  border-bottom: 1px dashed $fg;
}

q::before {
  content: "\201c"; // Left dquote
}

q::after {
  content: "\201d"; // Right dquote
}

abbr {
  cursor: help;
}

code,
var,
samp,
kbd {
  font-family: $monospace;
}

mark {
  background-color: $mark;
}

// Edits
ins {
  border-bottom: 3px double $fg;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

// Embedded content
img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Tabular data
table {
  margin: ($font-size * 2) 0;
  clear: both;
  page-break-inside: avoid;

  th, td {
    padding: ($font-size * 0.5);
    border: 1px solid lighten($fg, 85%);
    vertical-align: top;
  }

  th {
    background-color: lighten($fg, 92%);
    background-color: transparentize($fg, 0.92);
  }

  td {
    background-color: lighten($fg, 98%);
    background-color: transparentize($fg, 0.98);
  }
}


.button {
  background: #222 url(/assets/overlay.png) repeat-x;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer
}

.button a {
  color: #FFF;
  display: block;
  text-align: center;
}

.button:hover { background-color: #111; color: #fff; }
.button:active { top: 1px; }
.small.button, .small.button:visited { font-size: 11px}

.button, .button:visited,
.medium.button, .medium.button:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.button, .large.button:visited {
  font-size: 20px;
  padding: 10px 0 11px;
}

.blue.button, .blue.button:visited { background-color: $darkest; }
.blue.button:hover { background-color: $hover; }


.btn_round {
  background: #EEE;
  border: 1px solid #DDD;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 3px 0;
  text-align: center;
}